* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  color: rgba(248, 247, 255, 1);
  background: rgba(2, 12, 27, 1);
  scroll-behavior: smooth;
  font-family: "Share Tech Mono", monospace;
}
a {
  text-decoration: none;
  color: rgba(0, 206, 158, 1);
  transition: all 250ms ease-in-out;
}
a:hover {
  color: rgba(249, 105, 14, 1);
}
ul {
  list-style: none;
}
hr {
  background: linear-gradient(
    to right,
    rgba(249, 105, 14, 1) 0%,
    rgba(102, 51, 153, 1) 100%
  );
  border: 0;
  height: 1px;
}
